@import "reset.css";
@import "variable.css";

@import "components/screen-header.css";

@import "screens/index.css";


body {
    background-color: rgba(0,0,0,0.8);
    height: 200vh;
}

.screen {
    padding-top: 130px;
    margin: 30px 30px;
}